# Ignore the data folder
data/
# ignore symlink
data

# Ignore the log folders
experiment_logs/
evaluation_logs/

# Ignore the fully pre-trained or evaluated checkpoints 
pretrained_models/
evaluated_models/
finished_models/

# Ignore Python cache files
__pycache__/

# Ignore slurm outputs
job_outputs/

# Ignore the profiler.txt file
fit-simple_profiler2.txt.txt
fit-simple_profiler3.txt.txt
simple_profiler.txt